<html>
    <head>
<script type="text/javascript" src="{{ asset('js/jquery-2.1.3.min.js') }}"></script>
    <script  src="{{ asset('js/main.js') }}"></script>
</head>
<body>
 
    <select class="nompays"><option>Tunisia</option>
    <option>italie</option>
    <option>Spain</option>
    </select>
          <select  class="ville" id="ville" name="ville" >
    <option>-- Régions --</option>
    </select>
  
     
    
    
 
    </body>
</html>  