{% extends 'BestTripWeeGoBundle::layout.html.twig' %}


		
{% trans_default_domain 'FOSUserBundle' %}

{% block main_content %}
<div class="row">
           
        
            <div class="col-md-6" ">
<p>{{ 'resetting.password_already_requested'|trans }}</p>





</div>

    <div class="col-md-6" >
        <div class="col-md-2" ></div>
        <div class="col-md-4" >
        <a class="navbar-brand" href="#"><img alt="" src="{{ asset('upload/voyage.jpg') }}"></a>
        
        </div>
</div>
    </div>
{% endblock main_content %}
