{% extends 'BestTripWeeGoBundle::layout.html.twig' %}
{% block main_content %}
<h4>Changer votre mot de passe</h4>







<div class="container">
                    
                    <div class="row">

                        <div class="col-md-5">
                                   
                               {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
                        </div>
                        <div class="col-md-2"></div>
                        
                        
                        <div class="col-md-5">
                            
                            
                        <div class="col-md-12 sidebar" style="padding: 0;">
                           {% include "BestTripWeeGoBundle:Utilisateur:UtilisateurConnecteMenu.html.twig" %}
                        </div>
                    </div>

                </div>
</div>
{% endblock main_content %}

