
   {% extends 'BestTripWeeGoBundle::layout.html.twig' %}

{% block main_content %}

<div class="container">

    <div class="row">

        <div class="col-md-3">

            <div class="contact-information">
                <h3>Info de Contact </h3>
                <ul class="contact-information-list">
                    <li><span><i class="fa fa-home"></i>Tunis street</span></li>
                    <li><span><i class="fa fa-phone"></i>9930 1234 5679</span></li>
                    <li><a href="#"><i class="fa fa-envelope"></i>WeeGo003@gmail.com</a></li>
                </ul>
            </div>

        </div>
        <div class="col-md-3">

           
        </div>

<div class="col-md-1">

           
        </div>

        <div class="col-md-5 ">


            <p>{{form_errors(form)}}</p>

            <form role="form"  id="contact-form" class="contact-work-form2 formulaire " method="POST" 
                  action='{{path('wee_go_mail_sendpage')}}' {{form_enctype(form)}}>    

     {{form_widget(form)}}

                <input type="submit"/>
            </form>
            

        </div>
    </div>

</div>


{% endblock  %}














