{# empty Twig template #}

{# empty Twig template #}
{% extends 'BestTripWeeGoBundle::layout_sans_sidebar.html.twig' %}

 {% block main_content %} 



<body> 
    Votre demande a été envoyée avec succès  
</body>

{% endblock main_content %}




