{# empty Twig template #}
{% extends 'BestTripWeeGoBundle::layout_sans_sidebar.html.twig' %}


{% block main_content %}


<div class="container">
                    
                  
    <div class="col-md-9">
        <div class="row">


            <div class="col-md-3">
                <div class="staff-post">
                    <div class="staff-post-content">
                        
                        <span></span>
                    </div>
                    <div class="staff-post-gal">
                        
                        
                    </div>
                </div>
            </div>
</div>
            
            
            
            
        </div>
        

                        
      <div class="col-md-3">
                        <div class="col-md-12 sidebar" style="padding: 0;">
                           {% include "BestTripWeeGoBundle:Utilisateur:UtilisateurConnecteMenu.html.twig" %}
                        </div>
                    </div>

                </div>





{% endblock %}
